
<div class="control-bar">
  <div class="container">
  <a class="btn btn-1">熱門</a>
  <a class="btn btn-2">距離</a>
  </div>
</div>
<div class="inline-box">
  <h3>甜點盒子</h3>
  <section class="item">


    <div class="box panel col-md-3 panel-default">
      <div class="panel-heading text-center">
      <h5>倒數5:00，再兩個集資成功</h5>
      <h5>80%</h5>

      </div>

      <div class="panel-body">
        <a href="#">
        <%= image_tag "d1.png",class: "img-dessert " %>
        </a>
        <% @desserts.each do |dessert| %>
        <%= link_to dessert_path(dessert) do %>
        <%= image_tag dessert.image.url if dessert.image? %>
        <h4><%= dessert.name %></h4>
        <% end %>
      </div>
      <div class="panel-body-nav">
      </div>

      <div class="panel-footer">
      </div>

  </div>

 <% end %>
  </section>

</div>

