<section class = "services">     
  <div class = "container">
    <div class = "row">

      <%= link_to "全部甜點", root_path %>

      <% @categories.each do |category| %>
        <%= link_to category.area, category_path(category) %>
      <% end %>

      <hr>

      <%= render partial: "shared/dessert_list" %>

    </div>
  </div>
</section>


