<h1>前台首頁</h1>

<br>

<%= link_to "後台首頁", admin_root_path %>

<br>

<%= link_to '建立新的甜點集資', new_dessert_path %>

<hr>

<% @desserts.each do |dessert| %>
  <%= image_tag dessert.image.url if dessert.image? %>
  <h4><%= dessert.name %></h4>
<% end %>

