<div class = "container">
  <div class = "row">

    <%= link_to "全部甜點", root_path, class: "btn btn-info" %>

    <% @categories.each do |category| %>
      <%= link_to category.area, category_path(category), class: "btn btn-warning" %>
    <% end %>

    <hr>

    <%= render partial: "shared/dessert_list" %>

  </div>
</div>


