


<div class="control-bar">
  <div class="container">
  <a class="btn btn-1">熱門</a>
  <a class="btn btn-2">距離</a>
  </div>
</div>


     <div class="item-box col-md-12 " style= height=900px;>
      <% @desserts.each do |dessert| %>
      <div class ="box2 col-md-4">

          <%= link_to dessert_path(dessert) do %>
        <%= dessert.name %>
        <br>
        <div class="circle">
        <div class="inner">
        <%= image_tag dessert.image_url(:thumb) if dessert.image? %>
        </div>
        </div>
        <% end %>





      </div>
      <% end %>










