<%= link_to "所有使用者", admin_users_path %>

<div class="wrapper">
<img src="file:///Users/Casey/just-dessert2/just-dessert2/app/assets/images/1.jpg">



<div class="overlay">


<div class="content">
the title <a>read more</a>
</div>



</div>



</div>
