/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "desserts";
@import "users";
@import "comments";
@import "orders";
@import "replies";
@import "css/style1.css";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/grid/columns.sass";
@import "style/helpers.css";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/container.sass";




html{
  font-size:62.5%;
}
body{
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing:border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}



#Header{
　width:360px;
　height:80px;
　text-align:center;
　line-height:80px;
　font-size:15px;
　color:#fffaf3;
　font-weight:bold;
　background-color:#f9c81e;
}

#body{
　width:240px;
　height:280px;
　text-align:center;
　line-height:280px;
　font-size:15px;
　color:#f9c81e;
　font-weight:bold;
　background-color:#fffaf3;
　float:left;
}

.footer {
　height: 100px;
　position: relative;
　margin-top: -100px;
}


.header,.main,.footer {
  border-width:3px;border-style:dashed;border-color:#FFAC55;padding:2px;
}
.header,.footer {
  height: 80px;
}
.main {
 height: 1200px;
}

.img-circle-navbar{

  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:5px solid #fff;

}

.img-dessert{
  margin-right: 5px;
  width: 300px;
  height: 300px;
}
.control-bar {
  border:1px solid #aaa;
}

.button {
  background-color: transparent;
  border: 0;
  color: #fefbef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 200%; /* Large, mobile-friendly touch target */

  /* Media Queries */
  @media (min-width: 37.5em) {
    width: auto; /* Smaller buttons on larger screens */
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
