// Place all the styles related to the desserts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-body {
    padding: 30px 2px;
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
  .panel-footer {
    padding: 30px 15px;
    p {
      margin: 0;
    }

.panel-heading {
    padding: 0px;
    img{
      padding: 0px;
      width: 100%;
    }
  }

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
}

.img-dessert{
  margin-right: 5px;
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }


.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.box2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 1em;
}

.item-box {
  height: 900px;
}

