<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f7cae6 10%, #A2C7E5 90%);
    height: 100vh
  }
  @keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
   10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
   20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
     100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  @keyframes move {
    0% {
        background-position: 0 0
    }
     50% {
        background-position: 100% 0
    }
     100% {
        background-position: 0 0
    }
  }
</style>

<div class = "container">
  <div class = "row">
    <h3 class="text-center">歡迎來到Just Dessert 吃甜甜</h3>
    <h3 class="text-center">在這裡你會找到許多集資中的隱藏版個人創作甜點</h3>

    <%= link_to "全部甜點", root_path, class: "btn btn-warning" %>

    <% @categories.each do |category| %>
      <% if category == @category %>
        <%= link_to category.area, category_path(category), class: "btn btn-info" %>
      <% else %>
        <%= link_to category.area, category_path(category), class: "btn btn-warning" %>
      <% end %>
    <% end %>

    <hr>

    <%= render partial: "shared/dessert_list" %>

  </div>

  <hr>

</div>